.navDown {
    background-color: rgba(255, 255, 255, 0.992);
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    border-top: 0.5px dashed rgba(0, 0, 0, 0.289);
    z-index: 18;
}

.iconsDownProfile {
    width: 1.5rem;
    margin-top: 4px;
  }
  
  .iconsDown.active {
    fill: rgb(101, 93, 255);
  }

  .pText.active {
    color: rgb(101, 93, 255);
  }

  .boxDown {
    width: 1.7rem;
    margin-top: 2px;
  }

.navDown {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.navDownComp, .downAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.iconsDown {
    width: 1.5rem;
    fill: rgb(24, 24, 24); 
}

.navDownComp div {
    font-size: 12px;
}

.navDownComp .icons {
    font-weight: 700;
}

.downCartLink {
    height: 90%;
}

.downNavNone {
    display: none;
}

.pText {
    font-size: 0.75rem;
}

.navDownAvatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.navDownAvatar img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.navAvatarPreview {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 550px) {
    .bottomNav {
      display: none;
    }
  }