.allProdHome {
    width: 100%;
}

.productHome {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    gap: 0.5rem;
    padding-left: 0.8rem;
}

.productHome::-webkit-scrollbar {
    display: none;
}

.allHome {
    height: 14rem;
    min-width: 10rem;
    border-radius: 0.2rem;
    transition: transform 0.3s ease-in-out;
}

.moving-sentence {
    font-size: 1rem;
}

.allHomeImg {
    height: 80%;
    padding: 0.1rem;
}

.allHomeImg img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.allTD {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    gap: 0.3rem;
    background-color: rgba(240, 248, 255, 0.23);
}


.allName {
    font-size: 0.8rem;
    font-weight: 500;
}

.allStars {
    font-size: 0.9rem;
}

.newMario {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.basket {
    width: 1.8rem;
    height: 1.8rem;
}

.basketIcon {
    font-size: 1.2rem;
}
