.allProdHome {
    width: 100%;
    margin-top: 0px;
}

.shopHomeCategory {
    border: 7px solid red;
    width: 900px;
}

.homeCategory {
    min-width: 270px;
    min-height: 100px;
    background-color: red;
}

.productHome {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    gap: 0.5rem;
    padding-left: 0.8rem;
}

.productHome::-webkit-scrollbar {
    display: none;
}

.allHome {
    height: 15rem;
    min-width: 11rem;
    border-radius: 0.2rem;
    transition: transform 0.3s ease-in-out;
}

.moving-sentence {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.allHomeImg {
    height: 80%;
    padding: 0.1rem;
}

.allHomeImg img {
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.allTD {
    height: 20%;
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
}

.allTDet {
    width: 100%;
}

.allTD .buyShop p {
    font-size: 0.7rem;
}


.allName {
    font-size: 0.8rem;
    font-weight: 500;
}

.allStars {
    font-size: 0.8rem;
}

.newMario {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.basket {
    width: 1.8rem;
    height: 1.8rem;
}

.basketIcon {
    font-size: 1.2rem;
}

.aHC {
    min-width: 280px;
    height: 160px;
    background-color: rgba(238, 237, 237, 0.586);
    border-radius: 8px;
}

.displayPage {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} 
.marioText {
    background-image: url('../../assets/images/image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 20rem;
    position: relative;
    overflow: hidden; 
    display: flex;
    align-items: center; 
}

.marioText div {
    display: flex;
    align-items: center; 
    height: 100%;
}

.marioText div p {
    font-size: 20rem; 
    white-space: nowrap;
    display: inline-block; 
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 50;
}

.mTB::before {
    color: white;
    text-align: end;
    content: "WEAR MARIO - WEAR DRIP";
}

.mTB {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(132, 132, 132, 0.307);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagSC {
    display: none;
}

@media screen and (max-width: 550px) {
    .allProdHomeSC {
        background-color: red;
        height: 92vh;
    }

    .MDSC {
        height: 7%;
    }
    .pagSC {
        display: block;
        height: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .productHomeSC {
        overflow-x: hidden;
        height: 86%;
        background-color: antiquewhite;

    }
} 