.burger {
    padding: 1.1rem;
    height: 100%;
    cursor: pointer;
}

.cancelBurger {
    display: flex;
    justify-content: flex-end;
}

.cancelBurger span {
    width: 2.3rem;
    height: 2.3rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cancelIcon {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

ul, .servicesNav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.servicesNav div p {
    font-size: 0.9rem;
}

ul li {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}

.navListLink {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
}

.arrowIcons, .icons {
    width: 1.2rem;
}

.navListLink div p, .otherNav li p {
    font-size: 1rem;
    font-weight: 400;
}

.burgerList {
    margin-top: 2rem;
    width: 100%;
    height: 80vh;
}

.burgerList ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.2rem;
    padding: 0.3rem 0;
}

li p {
    font-size: 1.2rem;
    font-weight: 500;
}

.servicesNav {
    border: 0.1rem dashed rgba(0, 0, 0, 0.19);
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.servicesNav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.2rem;
}

.infoNav {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 1.8rem;
    gap: 1.2rem;
    font-size: 0.9rem;
}

.infoNav div {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.756);
}

.infoNav div:hover, .infoNav div:focus {
    color: black;
}

.servicesNav {
    margin-top: 2rem;
}

.signLink {
    text-decoration: underline;
}

.otherNav {
    margin-bottom: 0.8rem;
}
