.whatsapp {
    position: fixed;
    z-index: 20;
    bottom: 15vh;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .waIconImg {
    width: 49px;
    height: 49px;
    padding: 3px;
  }
  

  
  