.closingBalance {
    background-color: rgba(150, 132, 228, 0.384);
    margin-top: 20px;
}

.closingBalance .closing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.5px solid white;
    flex-wrap: wrap;
    
}

.closingBalance .closing p {
    width: 25%;
    font-size: 0.93rem;
    padding: 0.2rem;
}

.closingBalance .closing span {
    width: 75%;
    height: 100%;
    text-align: right;
    font-size: 0.93rem;
    font-weight: 400;
    padding: 0.65rem;
}

.closing .bl {
    border-left: 1px solid rgba(255, 255, 255, 0.378);
}


.shipToText {
    font-size: 0.9rem;
}

.closingBalance .closeTotal span {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(2, 2, 89);
}

.closeTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
}

.shipSpanDet {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 0.3rem;
}

.shipSpanTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.shipSpanTwo div {
    width: 75%;
}

.sl {
    font-size: 0.8rem;
    padding: 0.3rem;
}

.shipSpanTwo p {
    width: 25%;
}

.deliveryIcon {
    width: 3rem;
}

.spanDetIcon {
    width: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.spanDetText {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanDetPrice {
    width: 26%;
    font-size: 0.9rem;
    padding: 0.19rem;
}

.pl {
    border: 1px solid rgba(255, 255, 255, 0.378);
    text-align: center;
}


.spanDetText div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

.shipBtn {
    font-size: 0.9rem;
}