.headTop {
    padding-top: 7vh;
}

.productFolder {
    height: 100%;
}

.itemOption h4 {
    text-align: right;
    padding: 10px;
}

.prodFold {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: repeat(auto, minmax(180px, 200px));
    grid-auto-flow: row;
}
.folder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.67);
    padding: 10px;
    border: 0.9px solid rgba(128, 128, 128, 0.178);
    max-width: 300px;
    max-height: 340px;
}

.sliderContainer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceFilter {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5px 0;
    border-radius: 10px;
    background-color: rgba(213, 213, 213, 0.226);
    font-size: 0.9rem;
}

.pFFInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.priceFilter label input {
    width: 70px;
    border: rgb(12, 12, 12);
    background-color:  rgba(213, 213, 213, 0.326);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 4px 2px;
}

.priceFilter button {
    padding: 5px 10px;
    width: 90%;
    max-width: 250px;
    background-color: rgba(178, 178, 243, 0.86);
    border: none;
    border-radius: 7px;
    font-weight: 500;
}

.priceFilter button:hover, .priceFilter button:focus {
    background-color: black;
    color: white;
}

.priceFilterNone {
    display: none;
}

.t-slider {
    width: 50px;

}

.paginationContainer {
    margin-top: 10%;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.pagDiv {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    font-size: 0.8rem;
}

.pagNoBtn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
}

.pagBtn {
    padding: 1px 10px;
    border-radius: 20px;
    
}

.prevActive {
    background-color: rgb(199, 181, 248);
    color: rgb(0, 0, 0);
}


.filterSlide {
    margin: 25px 10px;
    width: 30px;
    height: 30px;
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
}

.filterIcon {
    font-size: 0.9rem;
    width: 100%;
}

.filterFolder {
    position: absolute;
    background-color: rgba(141, 140, 140, 0.947);
    padding: 10px;
    right: 0;
    width: 100%;
    max-width: 450px;
    margin-top: 170px;
}

.filterFolder form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filterInput, .filterBtn {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 10px;

}

.filterInput input {
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 10px;
    min-width: 100px;
}

.filterBtn {
    margin-top: 20px;
}

.filterBtn button {
    width: 120px;
    border: none;
    padding: 5px 10px;
    background-color: rgba(81, 52, 0, 0.84);
    border-radius: 13px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.tryPeg {
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    height: 32px;
    padding: 1px 7px;
    border-radius: 15px;
}

.noProducts {
    text-align: center;
    color: rgb(0, 0, 146);
}

@media screen and (min-width: 500px) {
    .prodFold {
        grid-template-columns: repeat(auto-fit, minmax(180px, 3fr));
    }
}

@media screen and (max-width: 360px) {
    .prodFold {
        grid-template-rows: repeat(auto, minmax(100px, 150px));
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    }
}