
.search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 35;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.995);
    color: black;
 }

 .searchTable {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    height: 100%;
 }


 .searchCancel {
    text-align: right;
    padding: 10px;
    display: flex;
    justify-content: right;
    width: 100%;
}

.searchCancel span {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}


.searchCancelIcon {
    background-color: rgb(0, 0, 0);
    width: 37px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}


.searchText {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchText input {
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    max-width: 800px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.searchProducts {
    color: rgb(0, 0, 0);
    height: 59vh;
    width: 100%;
    margin: 0 auto;
}

.searchProducts ul {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.searchProducts ul li {
    width: 100%;
    padding-bottom: 10px;
    height: 80px;
}

.searchName {
    width: 70%;
}

.searchList {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchProducts ul::-webkit-scrollbar {
    display: none;
} 

.searchImg {
    width: 80px;
    margin-right: 20px;
    height: 80px;
}

.searchImg img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

.searchProducts ul li:last-child {
    margin-bottom: 10px; 
}