.middle {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5%;
}

.orderDetList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0.7rem 5%;
}

.orderDet p {
    font-size: 0.9rem;
}

.orderDetList .listDiv {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.listDiv p {
    color: rgba(0, 0, 0, 0.956);
    font-size: 0.8rem;
}

.orderDetList .listDiv span {
    color: rgba(39, 39, 39, 0.662);
    font-weight: 600;
}

.orderDetList div span {
    color: rgba(70, 70, 70, 0.833);
    font-size: 0.9rem;
}

.orderDet {
    margin: 3rem 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orderDet h2 {
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
}

.orderDet p {
    margin-bottom: 0.7rem;
    font-size: 0.95rem;
}


@media screen and (max-width: 900px) {
    .orderDet {
        margin: 5%;
    }

    .orderDet h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 844px) {
    .orderDetList {
        flex-direction: column;
        gap: 0.3rem;
    }
    .orderDet {
        margin-top: 10%;
    }
}

@media screen and (max-width: 650px) {
    
    .orderDet {
        margin-top: 10%;
    }

    .orderDet p {
        font-weight: 400;
    }

} 
