.fullNav2 {
    z-index: 30;
}

.navBack {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.navBack p {
    text-decoration: underline;
    margin: auto 0;
    font-size: 1rem;
}

.linkList {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.linkList div p {
    font-size: 1rem;
}

.navBurger2 {
    padding: 1.2rem;
}

.arrowIcon {
    width: 1.3rem;
}

.burgerList2 {
    margin-top: 8vh;
}

.blurNav2 {
    background-color: rgba(0, 0, 0, 0.867);
}

.imagesShowNav {
    height: 10rem;
    margin-bottom: 20px;
    
}

.imagesShowNav img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    border-radius: 10px;
}


.productLi {
    gap: 2px;

}