.frontProds2 {
  height: 100%;
  width: 100%;
  max-width: 175px;
}

.allShowOff2 {
  height: 90%;
}

.prodImg img {
  max-height: 175px;
  object-fit: cover;
  object-position: center;
  border-radius: 1px;
}

.linkProd {
  height: 90%;
}

.prodDet {
  margin-top: 10px;
}

.prodPrice .price {
  margin-top: 10px;
  font-size: 1.1rem;
}

.allT .allName {
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.797);
  overflow: hidden;
}

.allT .allStars {
  font-size: 1rem;
  color: rgb(18, 2, 65);
  font-weight: 500;
}

.cart {
  font-size: 2rem;
  color: rgb(1, 1, 52);
}

.basket {
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.allTDs {
  height: 18%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  gap: 3px;
  margin-top: 10px;
}

.prodCartIcon {
  font-size: 1.2rem;
  color: rgb(0, 0, 54);
}