.newProduct {
    padding-top: 7vh;
    width: 90%;
    margin: 0 auto 12vh;
    max-width: 1000px;
}

.preImgProduct {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    margin: 10px 0;
}

.preImgProduct img {
    width: 50px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sizeNP {
    margin-top: 20px;
}