

.productDetails {
    background-color: rgb(255, 255, 255);
}

.headColor {
    width: 100%;
    height: 8vh;
}

.backArrowPD {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    gap: 0.3rem;
    margin: 0.6rem 0;
}

.PD {
    width: 95%;
    margin: 0 auto;
}


.backArrowPD span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PDSelectionBag {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
    margin: 0 auto;
    font-size: 1rem;
}

.PDFolderImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 45%;
}

.pDImageImg {
    position: relative;
    height: 100%;
}

.PDImageFolder {
    width: 50%;
    position: relative;
}

/* .imgNPIcons {

} */

.imgIcon {
    width: 80px;
}


.spaceText {
    padding: 10px 3% 5px;
}

.PDImage {
    width: 100%;
    height: 50vh;
}

.PDImageList {
    height: 25%;
    height: 70px;
    margin-top: 3%;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3%;
}

.productImage {
    border: 1px solid rgb(148, 148, 148);
    width: 55px;
    height: 55px;
    border-radius: 8px;
}

.productImage img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: top;
}

.PDImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}


.PDDetailsFolder {
    width: 50%;
}

.PDImageFolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgb(243, 243, 243);
}

.icons {
    width: 1.2rem;
}

.accordion {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.accordion-item {
    text-align: center;
}

.activeProductContent {
    width: 100%;
}

.PDCat {
    margin: 10px 0 5px;
}

.prodsCat {
    background-color: rgba(206, 205, 205, 0.281);
    padding: 0.3rem 0.6rem;
    border-radius: 10px;
    font-weight: 500;
    font-size: 0.8rem;
}

.detailsName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
}


.addLove {
    background-color: rgba(97, 97, 97, 0.414);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.8rem;
    padding: 3px 8px;
    font-weight: 700;
}

.loveIcon {
    width: 25px;
    color: transparent;
}

.detailsName .PDName {
    font-size: 1.5rem;
    font-weight: 500;
    width: 70%;
}

.OOF {
    width: 100%;
    text-align: right;
    color: red;
    font-weight: 500;
}

.PDReview {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    flex-direction: row;
}

.PDReview div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DRate {
    font-size: 0.9rem;
}

.commentsPD {
    margin: 1.5rem 0;
    width: 100%;
}

.commentsPD div {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0 7px;
}

.commentsPD p {
    font-size: 0.9rem;
    word-break: break-all;
}

.PDPrice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
    flex-wrap: wrap;
}

.DPrice {
    font-size: 1rem;
    font-weight: 500;
}

.offPercent {
    background-color: rgba(255, 0, 0, 0.688);
    color: white;
    padding: 0.2rem 0.3rem;
    font-size: 0.7rem;
    border: none;
    border-radius: 1.3rem;
}

.PDPriceComment {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 17px;
}

.PDCart {
    background-color: rgb(110, 129, 255);
    color: white;
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 19px;
    font-weight: 500;
    text-align: center;
    padding: 8px 18px;
    max-width: 150px;
    min-width: 90px;
}

.underline {
    width: 100%;
    margin: 15px auto;
    height: 0.1px;
    background-color: rgb(105, 126, 245);
}
.accordion {
    width: 100%;
}

.spanAcc {
    background-color: rgba(181, 181, 181, 0.304);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2px;
    width: 90%;
    max-width: 500px;
    padding: 5px;
    border-radius: 18px;
}

.accordions-item {
    border: none;
}

.accordions-item-button {
    border: none;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 12px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordions-item-button.active {
    background-color: rgb(161, 175, 255); 
    color: #ffffff;
}


.PDContent {
    margin: 15px 0 18px;
    font-size: 0.8rem;
}

.PDRnR {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.PRnR {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.PRnR p {
    font-size: 1rem;
    font-weight: 600;
}

.PDR {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
}

.DRatings {
    margin: 15px 0;
    border-bottom: 0.01px dashed rgba(184, 184, 255, 0.56);
    padding: 2px;
}

.reviewD {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.rc {
    color: #4d4d4d;
}

.stars {
    width: 20px;
    height: 20px;
    color: rgb(105, 126, 245); 
    /* color: rgb(201, 201, 0); */
}

.dotIcon {
    width: 7px;
    height: 7px;
}

/* .starNo {
    display: flex;
    justify-content: center;
} */

.starNo {
    display: flex;
    align-items: center;
    justify-content: right;
}

.reviewRatingStar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qtyCart {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
    margin: 10px 0;
    height: 40px;
    width: 100%;
}

.prodDetailsQty {
    height: 1.7rem;
    width: 20%;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.prodDetailsQty input {
    text-align: center;
    width: 1.5rem;
    height: 100%;
    border: none;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.prodDetailsQty .btnRight.btnBlur, 
.prodDetailsQty .btnLeft.btnBlur {
    color: red;
}


.prodDetailsQty button {
    height: 100%;
    width: 1.5rem;
    border: none;
    color: #000000;
    background-color: rgb(227, 227, 227);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.btnRight {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btnLeft {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PostReview {
    background-color: transparent;
    padding: 8px;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    margin: 10% 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 126, 245);
    color: white;

}

.loginPostReview {
    margin: 5%;
    padding: 10px;
    width: 90%;
    background-color: rgba(255, 0, 0, 0.158);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
}

.postReviewBox {
    background-color: rgba(214, 222, 252, 0.54);
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.postReviewBox textarea {
    width: 80%;
    height: 150px;
    max-width: 350px;
    padding: 5px;
}

.postReviewBox input {
    width: 80%;
    max-width: 350px;
    height: 5%;
    padding: 5px;
}

.postReviewBox button {
    width: 80%;
    max-width: 350px;
    margin-top: 10px;
    height: 35px;
    background-color: rgb(86, 111, 255);
    color: white;
    border: none;
    cursor: pointer;
}

.reviewRatingStar {
    background-color: #ffffff;
    width: 80%;
    max-width: 350px;
}

.RRStars {
    width: 30px;
    height: 30px;
    color: red;
}

.cancelShowReview {
    padding: 5px;
    cursor: pointer;
    width: 80%;
    max-width: 350px;
    display: flex;
    justify-content: right;
}

.cancelShowReview p {
    background-color: rgb(235, 76, 76);
    padding: 5px 7px;
    color: white;
    font-size: 1rem;
    width: 30%;
    text-align: center;
}

.cartIcon {
    width: 22px;
}

.productHomeDT {
    width: 100%;
}

.allHomeDT {
    width: 190px;
    background-color: rgba(227, 227, 227, 0.553);
}

.nonVR {
    display: none;
}

.pDSP {
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .PDSelectionBag {
        flex-direction: column;
        width: 100%;
    }
    .PDImageFolder, .PDDetailsFolder {
        width: 100%;
    }
    .detailsName .PDName {
        font-weight: 500;
    }
    .PDFolderImage {
        width: 100%;
    }
    .PDImage {
        width: 100%;
        height: 50vh;
    }

    .PDImage img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
    
}

@media screen and (min-width: 450px) and (max-width: 798px) {

    .accordions-item-button.CProduct::before {
        content: 'Product ';
    }
   .accordions-item-button.CShipping::after {
        content: ' Information';
    }
}


@media screen and (min-width: 988px) {
    .PDSelectionBag {
         width: 100%;
     }
 
    .accordions-item-button.CProduct::before {
         content: 'Product ';
     }
    .accordions-item-button.CShipping::after {
         content: ' Information';
     }
    
 }

 @media screen and (min-width: 1200px) {
    .PDSelectionBag {
         width: 80%;
         max-width: 1100px;
     }
     .PDImage {
        height: 50vh;
     }
}
 