.dashIcon {
	width: 20px;
}

.sideBar {
	height: 90vh;
	background-color: rgba(188, 188, 188, 0.142);
}

.dashIcons {
	width: 6px;
	height: 6px;
}

.sideComponent {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 10px;
	gap: 25px;
}

.dashProdList {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.componentBar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	cursor: pointer;
}

.componentBarList {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	flex-wrap: wrap;
}

.dashDownList ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.downList li {
	margin-top: 4px;
	width: 100%;
	background-color: rgba(186, 186, 186, 0.484);
	padding: 5px;
	border-radius: 5px;
	color: rgb(0, 0, 0);
}

.liLink {
	width: 100%;
	background-color: red;
}

@media screen and (max-width: 560px) {
	.componentBar span {
		display: none;
	}
	.dashIcon {
		width: 25px;
	}
	.sideComponent {
		align-items: center;
	}

	.componentBar {
		background-color: rgba(198, 198, 198, 0.21);
		padding: 3px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.board p {
		font-size: 0.8rem;
	}
}
